ul > li {
	position: relative;
	left: -45px;
	list-style: none;
}

.category-title, .category-title a {
	font-weight: 500;
	font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}

a {
	color: #000;
}

.row .col-lg-2 {
	margin-right: 30px;
}

.pn-panel {
	border: 0;
	margin-top: 10px;
	margin-bottom: -30px;
}

.panel-info>.pn-panel-heading {
	background-color: #fff;
	text-align: left;
}

.pn-panel-body{
	padding-top: 0;
}

.pn-editor {
	margin-top: 10px;
}
