{% extends "layout.html" %}
{% block expand_script %}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
{% endblock %}

{% block container %}
<div class="row">
	<form method="get" action="http://www.google.com/search" class="form-inline" role="form" target="_blank">
		<div class="col-md-8">
			<input type="text" name="q" class="form-control" maxlength="255" value="" autofocus/>
		</div>
		<input type="submit" value="Google" />
	</form>
</div>
<div class="clearfix"></div>
<div class="row">
	{% for navi in navis %}
	<div class="col-lg-2">
		{% for n in navi %}
			{% for k, v in n.items() %}
			<div class="section">
				<div  class="category-title">
					<h3>
						<span class="label label-info"> <a href="#" target="_blank">{{k.title}}({{v|length}})</a> </span>
					</h3>
				</div>
				<ul>
					{% for _ in v %}
					<li>
					<span class="label label-default">
						<a href="{{_.url}}" target="_blank">{{_.title}}</a>
					</span>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
		{% endfor %}
	</div>
	{% endfor %}
</div>

{% endblock %}
