{% extends "layout.html" %}
{% block style %}
<style type="text/css">

</style>
{% endblock %}
{% block container %}

<div class="row">
	<div class="col-lg-2">
		<a href="#" target="_blank">Blog</a>
		<ul>
			<li>InfoQ</li>
			<li>ItEye</li>
			<li>CSDN</li>
			<li>Solidot</li>
			<li>TED</li>
			<li>技术博客</li>
		</ul>
	</div>
	<div class="col-lg-2">
		<a href="#" target="_blank">Design</a>
		<ul>
			<li>Mile</li>
			<li>淘宝UED</li>
			<li>腾讯QQ</li>
		</ul>
	</div>
	<div class="col-lg-2">
		<a href="#" target="_blank">Launguage</a>
		<ul>
			<li>Python</li>
			<li>Java</li>
			<li>Erlang</li>
			<li>Haskel</li>
			<li>Jquery</li>
			<li>CSS</li>
			<li>Nodejs</li>
			<li>PHP</li>
			<li>Dot NET</li>
		</ul>
	</div>
	<div class="col-lg-2">
		<a href="#" target="_blank">Tools</a>
		<ul>
			<li>VIM</li>
			<li>MAC</li>
			<li>LINUX</li>
		</ul>
	</div>
	<div class="col-lg-2">
		<a href="#" target="_blank">Apple</a>
		<ul>
			<li>IOS</li>
			<li>IPHONE</li>
			<li>IPAD</li>
		</ul>
	</div>
</div>

{% endblock %}
