{% extends "layout.html" %}
{% block expand_script %}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
{% endblock %}

{% block container %}
<div class="row">
	<div class="col-lg-1"></div>
	<form method="get" action="http://www.google.com/search" class="form-inline" role="form" target="_blank">
		<div class="col-md-8">
			<input type="text" name="q" class="form-control" maxlength="255" value="" autofocus/>
		</div>
		<input type="submit" value="Google" />
	</form>
</div>
<div class="clearfix"></div>
<div class="row pn-editor">
	<button type="button" class="btn btn-default btn-lg">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<button type="button" class="btn btn-default btn-lg">
		<span class="glyphicon glyphicon-trash"></span>
	</button>
</div>
<div class="row">
	{% for navi in navis %}
	<div class="col-lg-2">
		{% for n in navi %}
		{% for k, v in n.items() %}
		<div class="panel panel-info pn-panel">
			<div class="panel-heading pn-panel-heading">
				{{k.title}}
			</div>
			<div class="panel-body pn-panel-body">
				<ul>
					{% for _ in v %}
					<li>
					<span class="label">
						<a href="{{_.url}}" target="_blank">
							{{_.title}}
						</a>
					</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endfor %}
		{% endfor %}
	</div>
	{% endfor %}
</div>

{% endblock %}
